* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    width: 100%;
    position: relative;
}

h1 {
    font-family: 'Berkshire Swash', cursive;
    margin: 0;
}

header {
    width: 100%;
    background-color:#BDC2C8;
    position: fixed;
    margin-left: 60px;
}

.header-name-style {
    background-color: #004A95;
    color: #fff;
    float: left;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-bar {
    list-style-type: none;
    float: right;
    position: relative;
    right: 200px;
    margin-top: 30px;
}

.nav-bar-a {
    display: inline;
    font-family: 'Rubik', sans-serif;
    color: #004A95;
    margin-right: 10px;
    margin-left: 10px;
}

.clearfloat {
    clear: both;
}

.about-me {
    color: #004A95;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.body-container {
position: relative;
top: 79px;
background-image: url('../images/vertical-waves.png');
position: relative;
width: 100%;
height: 550px;
}

.column1 {
    position: relative;
    top: 30px;
    left: 60px;
    background-color: #DDE6EB;
    width: 60%;
    height: 480px;
    overflow: scroll;
}

.profile-picture {
    float: left;
    margin-top: 0;
    margin-right: 12px;
    margin-bottom: 0px;
    margin-left: 20px;
    border: solid #444748 .5px;
    
}

p {
    line-height: 200%;
    font-family: 'Rubik', sans-serif;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 10pt; 
}